[user]
	name = Afag Mamedova
	email = afag.mamedova@iths.se
[init]
	defaultBranch = main
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow) %d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
